/* Estilo general */
body {
    margin: 0;
    padding: 0;
    background-image: url('../../images/fondo1.jpg');
    background-size: cover; 
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    font-size: 16px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.menu_horizontal {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu_horizontal > li {
    position: relative;
    padding: 0 20px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 64px; 
    transition: background-color 0.3s ease;
}

.menu_horizontal > li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.menu_vertical {
    display: block; /* Asegúrate de que esté configurado como block */
    position: absolute;
    top: 63px; /* Ajusta según tu diseño */
    left: 0;
    background-color: black;
    list-style: none;
    padding: 10px 0;
    margin-left: 9%;
    z-index: 1010;
}


.menu_horizontal li:hover .menu_vertical {
    display: block;
    top: 100%;
    left: 0;
}

.menu_vertical li {
    padding: 10px 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu_vertical li:hover {
    background-color: rgb(255, 1, 1);
}

.menu_vertical li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

h1 {
    color: white;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
