.header {
    background-color: #f8f9fa; /* Fondo claro */
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo para el botón del menú */
#dropdown-basic-button {
    font-size: 16px;
    font-weight: 500;
    color: #007bff; /* Color de texto del botón */
    border: 1px solid #007bff; /* Borde del botón */
    background-color: white; /* Fondo blanco */
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo del botón cuando se pasa el ratón sobre él */
#dropdown-basic-button:hover {
    background-color: #f1f1f1;
    color: #0056b3;
    border-color: #0056b3;
}

/* Estilos del Dropdown */
.dropdown-menu {
    background-color: #ffffff; /* Fondo del menú */
    border: 1px solid #007bff; /* Borde del menú */
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra del menú */
}

/* Estilo para los elementos del menú */
.dropdown-item {
    font-size: 14px;
    color: #333; /* Color de texto */
    padding: 10px 15px;
}

/* Estilo cuando se pasa el ratón sobre los elementos del menú */
.dropdown-item:hover {
    background-color: #007bff;
    color: white;
}

/* Opcional: Estilo para los elementos seleccionados */
.dropdown-item:active {
    background-color: #0056b3;
    color: white;
}